content {
    max-width:1600px
}
nav{
    text-align: center;
    padding:10%;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
nav :hover{
    background-color: azure;
    color: black;
}
main{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    background-color: #B9B3BD;
}
main h1{
    grid-column: 1/2;
    font-size: x-large;
    padding: 10%;
}
main p{
    grid-column: 3/5;
    padding: 10%;
}
.home1{
    width: 175px;
    height: 225px;
    grid-column: 2/3;
}
.home2{
    max-width: 100%;
    grid-column: 1/5;
}
header{
    background-color: #13A49D;
    display: grid;
    grid-template-columns: 200px auto;
    height: 100px;
}
.logo{
    width: 100px;
    height: 100px;
}
footer{
    background-color: #13A49D;
}