content {
    max-width:1600px
}
nav a {
    text-align: center;
    padding: 35px;
    color: gray;
    text-decoration: none;
}
nav :hover{
    background-color: azure;
    color: black;
}
#background{
    color: darkgray;
}
.main{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
}
#h1{
    align-self: center;
    align-content: center;
    font-size: x-large;
}
.home1{
    width: 350px;
    height: 450px;
}
.home2{
    max-width: 100%;
}
header{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 200px auto;
}
footer{
    background-color: aquamarine;
}