#background{
    color: darkgray;
}
.home1{
    width: 350px;
    height: 450px;
}
.home2{
    max-width: 100%;
}
header{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 150px auto;
}