header{
    background-color: #13A49D;
    display: grid;
    grid-template-columns: 200px auto;
    height: 120px;
}
.logo{
    width: 100px;
    height: 100px;
    align-self: center;
    margin: 5%;
}
footer{
    background-color: #13A49D;
    height: 50px;
    text-decoration: none;
}
footer a{
    display: flex;
    margin: 5%;
    justify-content: space-around;
}
content {
    max-width:1600px
}
nav{
    text-align: center;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-self: center;
    font-size: larger;
}
nav :hover{
    background-color: azure;
    color: black;
}
.project1{
    width: 400px;
    height: auto;
    grid-column: 1/2;
    max-width: 100%;
    margin: 5%;
    align-self: center;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #6f7364;
}
main h2{
    grid-column: 1/2;
    max-width: 300px;
    margin: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 1fr Auto 1fr;
}
main h1{
    grid-column: 2/3;
    font-size: x-large;
    align-self: center;
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project2{
    width: 400px;
    height: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    max-width: 100%;
    margin: 5%;
    align-self: center;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #6f7364;
}
main h3{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 200px;
    margin: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}