header{
    background-color: #13A49D;
    display: grid;
    grid-template-columns: 200px auto;
    height: 120px;
}
.logo{
    width: 100px;
    height: 100px;
    align-self: center;
    margin: 5%;
}
footer{
    background-color: #13A49D;
    height: 50px;
    text-decoration: none;
}
footer a{
    display: flex;
    margin: 5%;
    justify-content: space-around;
}
content {
    max-width:1600px
}
nav{
    text-align: center;
    color: gray;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
nav :hover{
    background-color: azure;
    color: black;
}
.resume1{
    width: 200px;
    height: auto;
    grid-column: 1/2;
    max-width: 100%;
    margin: 5%;
    align-self: center;
    border-radius: 5%;
    padding: 5%;
    border: 5%;
}
.resume2{
    width: 200px;
    height: auto;
    grid-column: 3/4;
    max-width: 100%;
    margin: 5%;
    align-self: center;
    border-radius: 5%;
    padding: 5%;
    border: 5%;
}
main{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
}
main h1{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: x-large;
    align-self: center;
    justify-self: center;
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main p{
    grid-column: 2/3;

}